<%- include("header") -%>
</head>

<body>

   <div class="box" id="heading">
    <h1>
        <%= Xday %>
    </h1>
 </div>

  <div class="box">
   <form action="/delete" method="post">
    <%  newlistitems.forEach(function(item){ %>
            <div class="item">
             <input type="checkbox" name="checkbox" value ="<%=item._id%>" onchange="this.form.submit()">
             <p><%=item.name%></p>
             </div>
             <%  }); %>
</form>
  
     <form class="item" action="/" method="post">
        <input type="text" name="newitem" placeholder="New Item" autocomplete="off">
        <button type="submit" name="button">+</button> 
    </form>

</div>

    

     

</body>
<%- include("footer")-%>
